 /**
  * Use a font
  */
@font-face {
	font-family: 'OpenSansRegular';
	src: url('image/OpenSansRegular.eot');
	src: local('OpenSansRegular'), url('image/OpenSansRegular.woff') format('woff'), url('image/OpenSansRegular.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_38327">Text with this font applied</p> */
.fontsforweb_fontid_38327 {
	font-family: 'OpenSansRegular' !important;
}
@font-face {
      font-family: 'fontello';
      src: url('image/fontello.eot?18582275');
      src: url('image/fontello.eot?18582275#iefix') format('embedded-opentype'),
           url('image/fontello.woff?18582275') format('woff'),
           url('image/fontello.ttf?18582275') format('truetype'),
           url('image/fontello.svg?18582275#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }
BODY {
    font-family: Arial, Helvetica, "Liberation Sans"  , FreeSans, sans-serif;
    font-family: 'openSansRegular';
    padding : 0px;
    margin:0px;
    color:#0000FF; 
    font-size:0.9em;
    font-size:0.95rem;
    background-color: rgb(253, 253, 254);
}
/****************************************************************************
 * Tabs  
 ****************************************************************************/
ul.tabs {
    padding-top: 15px;
    display:block;
   
    padding-left: 2px;
    list-style: none;
    padding-bottom: 20px;
    
}
ul.tabs li  a  {
    display:inline;
    
}
li.tabs_selected {
    display:inline;
   background: #C2E3FC; /* Old browsers */
    background: -moz-linear-gradient(top, #C2E3FC 0%, #6393c1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C2E3FC), color-stop(100%,#6393c1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C2E3FC 0%,#6393c1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C2E3FC 0%,#6393c1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C2E3FC 0%,#6393c1 100%); /* IE10+ */
    background: linear-gradient(to bottom, #C2E3FC 0%,#6393c1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C2E3FC', endColorstr='#6393c1',GradientType=0 ); /* IE6-9 */
    color:whitesmoke;
    margin-left: 1px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border:1px #879ed4 solid;
    font-weight: bold;
    
}
ul.tabs li.tabs_selected a {
    color :white;
}
ul.tabs li {
    display:inline-block;
    background-color: inherit;
    color:inherit;
    margin-left: 1px;
    padding: 20px;
    margin:20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border:1px #879ed4 solid;
    width:12%;
}
ul.tabs li:hover {
    display:inline-block;
    background-color: lightblue;
    color:white;margin-left: 1px;
    padding: 20px;
    margin: 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border:1px #879ed4 solid;
    white-space: nowrap;
    transition: background 0.7s, colors 0.7s;
    width:12%;

}

ul.tabs a {
    text-decoration: none;
    color:inherit;
    display:inline;
    white-space: nowrap;
    
}
ul.tabs a:hover {
    text-decoration: none;
    color:white;
    display:inline;
     background-color: lightblue;
}

/******************************************************************************
 * Hightlight row in a table 
 ******************************************************************************/
li.highlight , tr.highlight{
    font-weight: bolder;
    font-size:14px;
    background-color: #334975 !important;
    color:white !important;
    border-width:  2px;
    border-style: solid;
    border-color: blue;
}
li.highlight a, tr.highlight a{
    color:white !important;
    
}
*|*:link {
    color: inherit;
}
/*******************************************************************************
 *  Tiny button example : -X for remove action, remove link...
 *******************************************************************************/
div.content a.tinybutton,a.tinybutton{
    color: blue;
    font-weight: bold;
    text-decoration: none;
    font-family: arial,verdana,sans-serif,helvetica;
   /* background-image: url("image/bg-submit2.gif");
    background-repeat: repeat-x;
    background-position: left; */
    font-size: 8px;
    font-size: 0.7rem;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 3px;
    cursor: pointer;
    margin: 1px 2px 1px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: blue;
    border-radius: 2px; 
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;

    display : inline;
}
input[type="button"].tinybutton {
     color: blue;
    font-weight: bold;
    text-decoration: none;
    font-family: arial,verdana,sans-serif,helvetica;
    font-size: 8px;
    font-size: 0.7rem;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 3px;
    cursor: pointer;
    margin: 1px 2px 1px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: blue;
    border-radius: 2px; 
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;

    display : inline;
}

/****************************************************************************
* Smoke appearance of modal box
 ****************************************************************************/
.smoke-base {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  visibility: hidden;
  opacity: 0;
  background: rgba(0,0,0,.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#90000000,endColorstr=#900000000);
}

.smoke-base.smoke-visible {
  opacity: 1;
  visibility: visible;
}

.smokebg {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.smoke-base .dialog {
  position: absolute;
    top: 25%;
  width: 40%;
  left: 50%;
  margin-left: -20%;
}

.dialog-prompt {
  margin-top: 15px;
  text-align: center;
}

.dialog-buttons {
  margin: 20px 0px 5px 0px
}

.smoke {
  text-align: center;
    background-color: #DCE1EF;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
        font-family: 'openSansRegular';

    padding:2px;
    margin:0px;
    overflow:hidden;
    z-index:3;
    position:absolute;
    left:10%;
    border:1px solid #00008B;
-moz-box-shadow: 10px 10px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 10px 10px 5px #888;
font-size:14.4px;
font-size:0.90rem;
width: 85%;
}
.dialog-buttons button:hover{
  color:beige;
  font-weight: bold;
}
.dialog-buttons button {
   color:#FFFFFF;
    font-weight: normal;
    text-decoration:none;
    background: #606c88; /* Old browsers */
    background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606c88), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #606c88 0%,#3f4c6b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
    border-color:  #605D5D;
    border-width:0px;
    padding:4px;
    margin:3px;
    cursor:pointer;
    margin:1px 2px 1px 2px;
    border-radius: 5px;
    moz-border-radius:5px;
    width:7em;
    width:7rem;
}

.dialog-prompt input {
  margin: 0;
  border: 0;
  font-family: sans-serif;
  outline: none;
  font-family: Menlo, 'Andale Mono', monospace;
  border: 1px solid #aaa;
  width: 75%;
  display: inline-block;
  background-color: transparent;
  font-size: 16px;
  padding: 8px;
}

.smoke-base .dialog-inner {
  padding: 15px;

  color:#202020;
}

button.cancel {
  background-color: rgba(0,0,0,.40);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#444444,endColorstr=#444444);
}

.queue{
	display:none;
}

.notice {
    color:#FF0000;
    font-style: italic;
}
.error {
    width:60%;
    margin-left:20%;
    text-align: center;

    color:#FFFFFF;
    background-color:#FF0000;
    font-weight: bolder;
}
/**************************************************************
 * Dialog box
 *************************************************************/
div.inner_box  {
    background-color: #DCE1EF;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-family: 'openSansRegular';
    padding:2px;
    margin:0px;
    overflow:hidden;
    z-index:3;
    position:absolute;
    left:10%;
    border:1px solid #00008B;
-moz-box-shadow: 10px 10px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 10px 10px 5px #888;
font-size:14.4px;
font-size:0.90rem;
width: auto;
}
@media only screen and (min-width: 1281px) {
div.inner_box  {
    border-radius: 9px;
    padding: 5px;
    }
}
/****************************************************************************
 * Button
 *****************************************************************************/
a#smallanchorbutton, .smallbutton, a.smallbutton,div.content a.smallbutton {
    color:#FFFFFF;
    font-weight: bold;
    text-decoration:none;
    font-size:12px;
    font-size:0.75rem;

    border-style:  outset ;
    border-color:  #0000FF;
    border-width:0;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-right: 3px;
    padding-left:  3px;
    margin-top:3px;
    cursor:pointer;
    margin:1px 2px 1px 2px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: rgb(109,179,242); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(50%,rgba(84,163,238,1)), color-stop(51%,rgba(54,144,240,1)), color-stop(100%,rgba(30,105,222,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
    text-align: center;
}
/*******************************************************************************
 * Button on one row
*******************************************************************************/
ul.button_choice  {
    list-style: none;
    display:block;
}
ul.button_choice li {
    display:inline;
}

/*******************************************************************************
 * Input text
*******************************************************************************/
.input_text {
    border:solid 1px #0000FF;
    margin:1px;
}
.input_text:hover , .input_text:focus {
    border:solid 1px #0000FF;
    margin:1px;
    background-color:  #F93;
}
/*******************************************************************************
 * Waiting box
*******************************************************************************/
div#wait_box
{
    background-color:#DDE6FF;
    font-family: arial,verdana,helvetica,arial,sans-serif;
    width: 350px;
    padding:30px;
    margin:0px;
    overflow:hidden;
    z-index:10;
    position:absolute;
    left:30%;
    top:30%;
    border:1px solid #00008B;
    width: 260px;
    border-radius: 25px;
    text-align: center;
    font-size:120%
    
}
/*******************************************************************************
 * Info box
*******************************************************************************/
#info_div {
    display:none;
    background-color: #FCFFCC;
    color:#000000;
    z-index: 15;
    position: absolute;
    top:0px;
    left:45%;
}
/*******************************************************************************
 * Info box
*******************************************************************************/
#warning_div {
    background-color: #F93;
    color:#000000;
    z-index: -1;
    position: fixed;
    top:100px;
    left:55%;
    width:300px;
    height: 30px;
    font-size: 120%;
    opacity: 0;
    border-radius:5px;
    border-size:1px;
    border-style:solid;
    border-color:#F93 transparent;
    color:white;
    text-align: center;
}
/******************************************************************************
 * Table
 ******************************************************************************/
table {
    width:100%;
}
tr.even {
    background-color: rgb(212, 229, 255);
}
th {
    background-color: rgb(21, 0, 159);
    color :rgb(237, 243, 255)
}
/******************************************************************************
 * Anchor up
 ******************************************************************************/
#go_up a {
    text-decoration: none;
    
    color:blue;
}
#go_up  {
     -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    border:0px;
    font-size:350%;
    color:blue;
}
/*****************************************************************************
 * tag_code_selected div showing the tag to use
 *****************************************************************************/
#tag_code_selected {
    font-size:110%;
    font-weight: bolder;
    font-stretch: expanded;
    z-index:1;
    position:fixed;
    top:10px;
    background-color: white;
    padding:20px;
    left:450px;
}
/******************************************************************************
 * List of tags
 ******************************************************************************/
ul.tag_list {
    display:block;
}
ul.tag_list li {
    display:table-cell;
    width:20em;
    width:10rem;
}
/*******************************************************************************
 * Autocomplete
 *******************************************************************************/
div.autocomplete {
    background-color:#FFFFFF;
    border:1px solid #888;
    margin:0px;
    padding:0px;
    text-align:left;
    position:relative;
    top : -3px;
}
div.autocomplete_fixed {
    background-color: #ffffff;
    border: 1px solid #888888;
    margin: 0;
    padding: 0;
    text-align: left;
}
div.autocomplete_fixed em ,div.autocomplete em {
    color:#0000FF;
    font-weight:bold;
}
div.autocomplete_fixed ul ,div.autocomplete ul {
    list-style-type:none;
    background-color:#FFFFFF;
    border:1px solid #888;
    margin:0px;
    padding:0px;
}
div.autocomplete_fixed ul li.selected,div.autocomplete ul li.selected { 
    background-color: #DDE6FF;
}

div.autocomplete_fixed ul li, div.autocomplete ul li {
    list-style-type:none;
    display:block;
    margin:0px;
    padding:0px;
    cursor:pointer;
}
span.informal{ 
    color:#000000;
    font-size:0.8rem;
}

/*****************************************************************************
 * Title inner box
 *****************************************************************************/
div.inner_box h2 {
    padding:4px;
    font-size:1.2rem;
    margin:0px;
}
/**
 * For the icon (font-famillo fontello)
 */
.icon {
    font-family: "fontello";
    font-weight:normal;
    cursor: pointer;
}
.icon:hover {
    font-family: "fontello";
}
*.icon {
    text-decoration: none;
}